# Node modules
node_modules/

# Environment variable files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace